@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: "Geist", system-ui, sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

body {
  font-family: var(--font-geist-sans);
}

/* optional */
code, pre {
  font-family: var(--font-geist-mono);
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

